{%extends 'base.html'%}
{%block content%}
    {{super()}}
    {%if add_form%}
        <a href="form" method="GET"><button class="my-button">Добавить данные в фомру</button></a> 
        <a href="/" method="GET"><button class="my-button">Главная страница</button></a>
    {%endif%}
    <table>
        {%for line in data %}
        {%if line!=data[0]%}
            <tr>
            {%for element in line%}
                <td>{{element}}</td>
            {%endfor%}
            </tr>
        {%else%}
        {%for element in line%}
            <td><h4>{{element}}</h4></td>
        {%endfor%}
        {%endif%}
        {%endfor%}
    </table>
{%endblock%}